* {
    margin: 0;
    padding: 0;
    outline: none;
    color: black;
    text-decoration: none;
    font-family: Inter, serif;
}

.rootContainer {
    overflow: hidden;
    margin-top: 24px;
}

.content {
    max-width: 1160px;
    margin: 0 auto;
}

.redButton {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFFFFF;
    padding: 20px 48px;
    background-color: #EE3F58;
    border-radius: 12px;
}

.redButton:hover {
    background-color: #BA3145;
}

.header {
    position: sticky;
    top: 24px;
    max-width: 1160px;
    background-color: #F5F6F7;
    margin: 0 auto;
    padding: 12px 24px;
    border-radius: 12px;
    z-index: 10000;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    color: #098DC8;
    cursor: default;
}

.header__logoFont {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
}

.wordСard {
    color: #098DC8;
}

.wordSon {
    color: #EE3F58;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.header__link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #051822;
    padding-bottom: 1px;
}

.header__link:hover {
    border-bottom: 1px solid #051822;
    padding-bottom: 0;
}

.header__registrationButton {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #EE3F58;
    padding: 12px 43px;
    border: 1px solid #EE3F58;
    border-radius: 42px;
}

.header__registrationButton:hover {
    background-color: rgba(238, 63, 88, 0.2);
}

.mainPage {
    position: relative;
}

.mainPage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPage__title {
    width: 658px;
    margin-top: 132px;

    text-align: center;
    font-size: 84px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px;
    color: #051822;
}

.mainPage__titleLastWord {
    margin: 0;
    width: 294px;
}

.mainPage__borderLastWord {
    position: absolute;
    border-radius: 1000px;
    border: 4px dashed #78D137;
    padding: 6px 32px 16px 32px;
    left: calc(50% - (294px + 64px) / 2);
    height: 76px;
    transition: transform 0.5s cubic-bezier(0.175, 0.6, 0.32, 1.4);
}

.mainPage__lastWordContainer {
    position: relative;
    margin: 0;
    padding: 0;
}

.mainPage__description {
    width: 450px;
    margin-top: 30px;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    color: #8A8A8A;
    text-align: center;
}

.mainPage__button {
    margin-top: 60px;
}

.mainPage__videLink {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    color: #098DC8;
}

.mainPage__circle {
    position: absolute;
    height: 50vw;
    width: 50vw;
    background-color: #26B0ED;
    border-radius: 50%;
    top: 734px;
    left: calc(50% - 25vw);
    z-index: 1;
}

.card {
    position: absolute;
    width: 170px;
    height: 220px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    z-index: -100;
}

.card__imageContainer {
    position: absolute;
    width: 170px;
    height: 153px;

    border-radius: 12px 12px 0 0;
    opacity: 0.35;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    mix-blend-mode: multiply;
}

.card__image {
    width: 170px;
    height: 153px;

    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.card__nameContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 111px;
    left: 12px;
}

.card__name {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

.card__salaryContainer {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.card__salaryLabel {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #051822;
}

.card__salary {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #051822;
}

.mainPage__card1 {
    transform: rotate(-10deg);
    left: 0;
    top: 75px;
}

.mainPage__card2 {
    transform: rotate(-10deg);
    left: 11%;
    top: 500px;
}

.mainPage__card3 {
    transform: rotate(10deg);
    right: 0;
    top: 75px;
}

.mainPage__card4 {
    transform: rotate(10deg);
    right: 11%;
    top: 500px;
}

.icon {
    position: absolute;
    width: 53px;
    height: 53px;
    z-index: -100;
}

.icon_img {
    width: 53px;
    height: 53px;
    border-radius: 53px;
}

.mainPage__icon1 {
    top: 175px;
    left: 18%;
}

.mainPage__icon2 {
    top: 400px;
    left: 6.5%;
}

.mainPage__icon3 {
    top: 300px;
    right: 19.5%;
}

.mainPage__icon4 {
    top: 420px;
    right: 12%;
}

.sticker {
    position: absolute;
    z-index: -100;
}

.mainPage__sticker1 {
    top: 300px;
    left: 16.5%;
    transform: rotate(-10deg);
}

.mainPage__sticker2 {
    top: 60px;
    right: 15.6%;
    transform: rotate(10deg);
}

.mainPage__backgroundTips {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mainPage__cards {
    position: absolute;
    z-index: -100;
    max-width: 1350px;
    width: 100%;
}

.mainPage__window {
    position: relative;
    top: 66px;
    width: 760px;
    height: 516px;
    margin-top: 66px;
    border-radius: 12px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.secondPage {
    position: relative;
    background-color: #26B0ED;
    z-index: 100;
}

.secondPage__title {
    font-size: 52px;
    font-weight: 600;
    color: #FFF;
    text-align: center;
}

.wrappedText {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrappedText__wrapper {
    position: absolute;
    transform: rotate(-0.9deg);
    width: inherit;
    height: inherit;
    border-radius: 1000px;
    background: #D0FF14;
    z-index: -1;
}

.wrappedText__title {
    font-size: inherit;
    font-weight: inherit;
    color: #051822;
    text-align: center;
}

.secondPage__subtitle {
    font-size: 52px;
    font-weight: 600;
    width: 553px;
    height: 87px;
    margin: 16px auto 64px auto;
}

.secondPage__cardsContainer {
    display: flex;
    gap: 40px;
}

.secondPage__card {
    padding: 32px;
    border-radius: 24px;
    background-color: #FFF;
    height: 396px;
    width: 296px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.secondPage__cardTitle {
    color: #051822;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

.secondPage__cardNumber {
    color: #051822;
    font-size: 64px;
    font-weight: 600;
}

.secondPage__cardDesc {
    color: #051822;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    max-width: 220px;
}

.secondPage__cardImageContainer {
    position: relative;
    width: 300px;
    height: 200px;
    margin-top: auto;
}


.secondPage__icon {
    position: absolute;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
}

.secondPage__card1Icon1 {
    border-radius: 145px;
    width: 145px;
    height: 145px;
    top: -17px;
    right: 9px;
}

.secondPage__card1Icon2 {
    border-radius: 145px;
    width: 116px;
    height: 116px;
    bottom: 14px;
    left: 67px;
}

.secondPage__card1Icon3 {
    border-radius: 145px;
    width: 79px;
    height: 79px;
    top: 49px;
    left: 11px;
}

.secondPage__card2Icon1 {
    height: 195px;
    bottom: 0;
    right: 0;
    border-radius: 8px;
}

.secondPage__card2Icon2 {
    height: 195px;
    top: -26px;
    left: 78px;
    border-radius: 8px;
}

.secondPage__card2Icon3 {
    height: 195px;
    bottom: 0;
    left: 0;
    border-radius: 8px;
}

.secondPage__card3Icon1 {
    border-radius: 8px;
    width: 185px;
    bottom: -8px;
    right: 5px;
}

.secondPage__card3Icon2 {
    border-radius: 8px;
    width: 185px;
    top: -35px;
    left: 5px;
}

.secondPage__bottomFrame {
    margin-top: 40px;
    height: 137px;
    padding: 48px 32px;
    background-color: #FFF;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
}

.secondPage__bottomFrameLeftBlock {
    max-width: 533px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondPage__bottomFrameTitle {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.secondPage__bottomFrameDesc {
    width: 460px;
    height: 52px;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    z-index: 1;
    left: -13px;
}

.secondPage__bottomFrameRightBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.secondPage__bottomFrameButton {
    padding: 20px 72px;
}

.secondPage__bottomFrameImgContainer {
    position: absolute;
    top: -19px;
    left: -50px;
}

.secondPage__bottomFrameImgText {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(2.319deg);
    width: 118px;
    font-size: 16px;
    font-weight: 600;
    color: #8A8A8A;
}

.secondPage__bottomFrameImg {
    position: absolute;
    top: 8px;
    left: 128px;
    transform: rotate(139.039deg);
}